.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
  }

h1 {
    text-align: center;
    background-color: rgb(24, 144, 219);
    color: whitesmoke;
    padding: 10px;
    margin-top: 0%;
}

.Content {
  width: 90vw;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  flex: 50;
}

/* .Column {
  display: flex;
  flex: 50%;
  display: inline-block;
  border: solid rgb(24, 144, 219) 3px;
} */

.Box {
  padding: 1rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

